@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    11039 Caballo Cir<br />
    Auburn, CA 95603<br />
    <abbr title="Phone">P:</abbr>
    415.269.5313
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tony@boggis.com">tony@boggis.com</a><br />
</address>